<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template></Template><TotalTime>26</TotalTime><Application>LibreOffice/24.2.1.2$Windows_X86_64 LibreOffice_project/db4def46b0453cc22e2d0305797cf981b68ef5ac</Application><AppVersion>15.0000</AppVersion></Properties>